html,body{
	padding: 0;
	margin: 0;
}
.main{
	width: 100%;
	height: auto;

}
.choose{
    font-family: "Arial Black";
    color: #ea3251;

    text-align: center;
}
.house-img{
}
.jade-figurine,
.asylum,
.unit731,
.haunted-douse{
    position: absolute;
    margin-top: -11.9%;
	transform: rotate(-90deg);  
}
.jade-figurine{
    padding: 15px 114px 15px 25px;
    background-color: #7a091b;
    margin-left: -44%;
}
.asylum{
    padding: 15px 226px 15px 25px;
    background-color: #930b23;
    margin-left: -41.3%;
}
.unit731{
    padding: 15px 225px 15px 25px;
    background-color: #b41430;
    margin-left: -38.6%;
}
.haunted-douse{
    color: #fff;
    padding: 15px 140px 15px 28px;
    margin-left: -35.8%;
}
.jade-figurine img{
    transform: rotate(90deg);
    width: 10%;
    margin-bottom: -3%;
    margin-left: 8%;
}
.asylum img{
    transform: rotate(90deg);
    width: 16%;
    margin-left: 16%;
    margin-bottom: -4%;
}
.unit731 img{
    transform: rotate(90deg);
    width: 16%;
    margin-left: 16%;
    margin-bottom: -4%;
}
.haunted-douse img{
    transform: rotate(90deg);
    width: 13%;
    margin-left: 8%;
    margin-bottom: -4%;
}
.man-lantern{
    width: 18%;
    margin-top: 3%;
    margin-left: 15%;
}
.bottom-book-now{
	width: 4%;
    float: right;
    margin-right: 48%;
    margin-top: 5%;
}

